{% extends "base.html" %}

{% comment %}
"""Даёт восстановить доступ к сайту. 
С этой страницы пользователь отправляет через форму свой логин или email.
На почту пользователю отправляется письмо со ссылкой на страницу восстановления 
пароля. Об отправке письма уведомляет страница password_reset_done.html
"""
{% endcomment %}

{% block title %}Reset password{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">To reset your old password, enter the email address you registered with</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {{ field.label }}
                        {{ field|addclass:"form-control" }}
                    {% endfor %}
                    <br>

                    <div class="col-md-6 offset-md-4">              
                            <button type="submit" class="btn btn-primary">
                                Reset password
                            </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}