{% extends "base.html" %}

{% comment %}
Пользователь переходит по ссылке из письма и попадает на страницу 
password_reset_confirm.html. 
На этой странице пользователь указывает новый пароль, отправляет форму и, после 
валидации нового пароля, попадает на страницу password_reset_complete.html.
{% endcomment %}

{% block title %}New password{% endblock %}
{% block content %}
{% load user_filters %}

{% if validlink %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Enter new password</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {{ field.label }}
                        {{ field|addclass:"form-control"}}
                    {% endfor %}

                    <div class="col-md-6 offset-md-4">              
                        <button type="submit" class="btn btn-primary">
                            Assign a new password
                        </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% else %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Error</div>
            <div class="card-body">
                <p>The password reset link contains an error or is outdated.</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endif %}

{% endblock %}