{% extends "base.html" %}
{% block title %}About the technologies used in the project{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  About the technologies used in the project
                </div> 
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>
              The project is based on the following technologies:
                  <ul>
                    <li>Python 3.7.9.</li>
                    <li>Django 2.2.6.</li>
                    <li>Git + GitHub</li>
                    <li>Virtual enviroment VENV.</li>
                    <li>To check the design of the code, the Flake8 linter was used.</li>
                  </ul>
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}